$color-tone-1: hsl(204, 7%, 85%);
$color-tone-2: hsl(200, 1%, 51%);
$color-tone-3: hsl(210, 1%, 34%);
$color-tone-4: hsl(240, 2%, 23%);
$color-tone-5: hsl(240, 3%, 16%);
$color-tone-6: hsl(240, 2%, 10%);
$color-tone-7: hsl(240, 3%, 7%);
$green: hsl(115, 29%, 53%);

$yellow: hsl(49, 51%, 57%);

$lightGray: hsl(0, 0%, 85%);
$gray: rgb(133, 135, 138);
$darkGray: hsl(216, 2%, 59%);
$white: hsl(0, 0%, 100%);
$black: rgb(33, 33, 33);
$orange: hsl(20, 90%, 59%);
$blue: hsl(209, 91%, 75%);
