@use "base";

@keyframes shake {
  10% {
    transform: translateX(-5%);
  }
  30% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(-7.5%);
  }
  70% {
    transform: translateX(7.5%);
  }
  90% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  grid-template-columns: repeat(5, 4em);
  grid-template-rows: repeat(6, 4em);
  gap: 0.25em;
  margin-bottom: 1em;
}

.board-row {
  display: grid;
  grid-template-columns: repeat(5, 4em);
  height: 4em;
  gap: 0.25em;
}

.square {
  color: base.$color-tone-1;
  border: 0.05em solid base.$color-tone-3;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  &.active {
    border-color: lighten(base.$color-tone-3, 23);
    &.shake {
      animation: shake 250ms ease-in-out;
    }
  }
  &.correct {
    background-color: base.$green;
    border: none;
  }
  &.wrong-location {
    background-color: base.$yellow;
    border: none;
  }
  &.wrong {
    background-color: base.$color-tone-4;
    border: none;
  }
}
